<div id="content" class="col-md-12 center-column content-with-background">
  <div class="row">
    <div class="col-sm-12">
      <div id="content" class="col-md-12 center-column content-with-background">
  <div class="row">
    <div class="col-sm-12">
      {{page.content}}
      {% section 'banner-2' %}
{% section 'banner' %}
 </div>
  </div>
</div>
    </div>
  </div>
</div>